<h1>
  {{ name }}'s Profile
  <hr>
</h1>
<mat-tab-group>
  <mat-tab label="Settings">
    <h6>Username:</h6>
    <input type="text" class="form-control" placeholder="{{ name }}"><br>
    <h6>Email:</h6>
    <input type="email" class="form-control" placeholder="{{ mail }}"><br>
    <button *ngIf="!updatePassword" type="button" class="btn btn-secondary" (click)="updatePassword = !updatePassword">Update password</button>
    <div *ngIf="updatePassword">
      <input type="password" class="form-control" placeholder="Enter new password..."><br>
    </div>
  </mat-tab>
  <mat-tab label="My guides">
    <app-mypage></app-mypage>
    <app-mypage></app-mypage>
    <app-mypage></app-mypage>
  </mat-tab>
</mat-tab-group>
