<h1>
  {{ guideTitle }}
</h1>
<h5>
  {{ author }}
</h5>
<star-rating class="rating" [starType]="'svg'" labelText="'rating'"
             [step]="0.5" [showHalfStars]="true" [hoverEnabled]="true"
             (ratingChange)="assessGuide($event)"></star-rating>
<br><br>
<h6 id="date">Created on {{ creationDate }}</h6>
<br><hr><br>


<h3>
  Contents:
</h3>
<h4 *ngFor="let c of contents">
  <ul>
    <li>{{ c.title }}</li>
  </ul>
</h4>
<br><br>

<div *ngFor="let c of contents">
<h3>
  {{ c.title }} <hr>
</h3>
<p>
  {{ c.text }}
</p>
<div *ngFor="let im of c.images">
  <img src="{{im}}">
</div>
<br>
</div>
<hr><br><br>

<h2>Comments</h2><hr>
<div *ngFor="let comm of commentsSubject | async; let i = index">
  <h5>{{ comm.author }}</h5>
  <h6> {{ comm.text }} </h6>
  <p> {{ comm.timestamp }}</p>
</div>
<hr><br>

<h2>Add comment...</h2><hr>
<textarea (keyup.enter)="addComment()" id="ownComment" placeholder="What a nice guide!"
          class="form-control"></textarea><br>
<hr>
