<h1>
  {{ guideTitle }}
</h1>
<h5>
  {{ author }}
</h5>
<h6>'star' {{ rating }}</h6>
<hr><br>

<!-- TODO: CREATION DATE INDICATOR -->

<h3>
  Contents:
</h3>
<h4 *ngFor="let c of contents">
  <ul>
    <li>{{ c.title }}</li>
  </ul>
</h4>
<br><br>

<div *ngFor="let c of contents; let i = index">
<h3>
  {{ c.title }} <hr>
</h3>
<p>
  {{ c.text }}
</p>
<div *ngFor="let im of c.images">
  <img src="{{im}}">
</div>
<br>
</div>
<hr><br><br>

<h2>Comments</h2><hr>
<div *ngFor="let comm of comments; let i = index">
  <!-- TODO: ASYNC COMMENTS, ADD COMMENT -> comments.push(comment) -->
</div>
<hr><br>

<h2>Add comment...</h2><hr>
<textarea id="ownComment" placeholder="What a nice guide!"
          class="form-control"></textarea><br>
<button type="button" (click)="onSubmit()">Submit</button> <!-- TODO: WRITE ONSUBMIT -->
<hr>
