<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Guidit</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <input type="text" class="form-control" placeholder="Search...">
      <a class="nav-item nav-link active" href="#">Create</a> <!-- add class active to make button look chosen -->
      <a class="nav-item nav-link" href="#">Browse</a>
      <a class="nav-item nav-link" href="#">Users</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
