<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-brand" (click)="router.navigate(['']);">Guidit</div>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <input type="text" class="form-control" placeholder="Search...">
      <button type="button" class="btn btn-dark nav-item nav-link" (click)="router.navigate(['create']);">Create</button>
      <button type="button" class="btn btn-dark nav-item nav-link" (click)="router.navigate(['browse']);">Browse</button>
      <button type="button" class="btn btn-dark nav-item nav-link" (click)="router.navigate(['users']);">Users</button>
      <a class=" " href="#"></a> <!-- add class active to make button look chosen -->
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <button type="button" class="btn btn-dark nav-item nav-link login-parts" id="sign-in-status" (click)="fbs.openProfile();"></button>
      <button type="button" class="btn btn-dark nav-item nav-link login-parts" id="sign-in" (click)="toggleSignIn()"></button>
    </div>
  </div>
</nav>
