<h1 i18n="@@allguides">
  All guides<hr>
</h1>

<div class="container">
  <div class="row">
  <div class="col-9">

<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="New">
    <ng-template matTabContent>
      <br>
      <div *ngFor="let it of itemsNew" (click)="fbs.openGuide(it)">
      <app-guideitem [id]="it"></app-guideitem>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Best">
    <ng-template matTabContent>
      <br>
      <div *ngFor="let it of itemsBest" (click)="fbs.openGuide(it)">
        <app-guideitem [id]="it"></app-guideitem>
      </div>
    </ng-template>
  </mat-tab>
  <div *ngIf="currentCategory">
  <mat-tab [label]="currentCategory">
    <ng-template matTabContent>
      <br>
      <div *ngFor="let it of itemsCategory" (click)="fbs.openGuide(it)">
        <app-guideitem [id]="it"></app-guideitem>
      </div>
    </ng-template>
  </mat-tab>
  </div>
</mat-tab-group><br>
  </div>
  <div class="col">
    <app-topics (showCategory)="showCategory($event)"></app-topics>
  </div>
  </div>
</div>
