<h1>
  Create a guide<hr>
</h1>

<h2 *ngIf="!renamingTitle">
  {{ title }}
</h2>
<input *ngIf="renamingTitle" type="text" class="form-control" placeholder="{{ title }}">
<hr>


<p>Please, arrange your guide as a sequence of steps.
  <button (click)="addStep()">+</button>
  <button *ngIf="steps.length > 1" (click)="removeStep()">-</button>
</p>

<div *ngFor="let s of steps; let i = index" class="step">
  <h5 id="title{{i}}">
    {{steps[i].title}}
  </h5>
  <textarea class="steps-text" id="text{{i}}"></textarea><br>
  <input id="file{{i}}" type="file" (change)="onFileSelected($event, i)"><br>
  <hr>
</div>
<button type="button" (click)="onSubmit()">Submit</button>
