<h1 i18n="@@createaguide">
  Create a guide<hr>
</h1>


<input id="headline" (input)="editField($event)" type="text" class="form-control" placeholder="Title..." aria-label="Large" aria-describedby="inputGroup-sizing-sm">
<hr>


<select (change)="chooseCategory()" class="form-control" id="selectline">
  <option *ngFor="let c of categories" [value]='c'>{{c}}</option>
</select>
<br>

<div class="alert alert-dark" role="alert" i18n="@@pleasearrange">
Please, arrange your guide as a sequence of steps.
  <button (click)="addStep()">+</button>
  <button *ngIf="steps.length > 1" (click)="removeStep()">-</button>
</div>


<div *ngFor="let s of steps; let i = index" class="step">


  <input id="title{{i}}" (input)="editField($event)" type="text" placeholder="New step name..."
         class="form-control">
  <br>


  <textarea (input)="editField($event)" id="text{{i}}" placeholder="Your instructions here..."
            class="form-control"></textarea>
  <br>

  <div *ngFor="let f of steps[i].images; let fi = index">
    <div *ngIf="fi < 3">
    <input id="file{{i}}" type="file" (change)="onFileSelected($event, i, fi)"><br>
    </div>
  </div>

  <hr>

</div>

<button type="button" (click)="onSubmit()" i18n="@@submit">Submit</button>
