<h1>
  New <hr>
</h1>
<div *ngFor="let it of itemsNew" (click)="fbs.openGuide(it)">
<app-guideitem [id]="it"></app-guideitem>
</div>
<hr>
<h1>
  Best<hr>
</h1>
<div *ngFor="let it of itemsBest" (click)="fbs.openGuide(it)">
  <app-guideitem [id]="it"></app-guideitem>
</div>
<hr>
<h1>
  Tags <hr> <!-- TODO: tag cloud shape -->
</h1>
<ul class="cloud">
  <li> performance testing </li>
  <li> stress testing </li>
  <li> conformance testing </li>
  <li> acceptane testing </li>
  <li> smoke testing </li>
</ul>
