<h1 i18n="@@new">
  New <hr>
</h1>
<div *ngFor="let it of itemsNew" (click)="fbs.openGuide(it)">
<app-guideitem [id]="it"></app-guideitem>
</div>
<hr>
<h1 i18n="@@best">
  Best<hr>
</h1>
<div *ngFor="let it of itemsBest" (click)="fbs.openGuide(it)">
  <app-guideitem [id]="it"></app-guideitem>
</div>
<hr>
<h1 i18n="@@tags">
  Tags <hr> <!-- TODO: tag cloud shape -->
</h1>
<ul class="cloud">
  <li> never </li>
  <li> gonna </li>
  <li> give </li>
  <li> you </li>
  <li> up </li>
  <li> never </li>
  <li> gonna </li>
  <li> let </li>
  <li> you </li>
  <li> down </li>
  <li> never </li>
  <li> gonna </li>
  <li> run </li>
  <li> around </li>
  <li> and </li>
  <li> desert </li>
  <li> you </li>
  <li> never </li>
  <li> gonna </li>
  <li> make </li>
  <li> you </li>
  <li> cry </li>
  <li> never </li>
  <li> gonna </li>
  <li> say </li>
  <li> goodbye </li>
  <li> never </li>
  <li> gonna </li>
  <li> tell </li>
  <li> a </li>
  <li> lie </li>
  <li> and hurt </li>
  <li> you </li>
</ul>
